[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
autopep8 = "*"
flake8 = "*"

[packages]
requests = "==2.20.0"
filelock = "==3.0.4"
browsermob-proxy = "==0.8.0"
selenium = "==3.11.0"
python-dateutil = "==2.6.1"
tabulate = "==0.8.2"
appdirs = "==1.4.3"
mitmproxy = "==4.0.4"
aiohttp = "==3.4.2"
colorama = "==0.3.9"
beautifulsoup4 = "==4.6.3"
Flask = "==1.0.2"
"hurry.filesize" = "==0.9"
pycryptodome = "*"
lxml = "*"
keyring = "*"
halo = "*"
better-exceptions = "*"
click = "*"
pinject = "*"

[requires]
python_version = "3.6"
